USE [master]
GO
CREATE DATABASE [TopFiveWebsites]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TopFiveWebsites', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\Data\TopFiveWebsites.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TopFiveWebsites_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\Data\TopFiveWebsites_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TopFiveWebsites].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TopFiveWebsites]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserProfile](
	[userId] [varchar](255) NOT NULL,
	[password] [nvarchar](1024) NOT NULL,
	[roles] [varchar](1024) NOT NULL,
	[isActive] [bit] NOT NULL CONSTRAINT [DF_UserProfile_isActive]  DEFAULT ((1)),
	[createdBy] [varchar](255) NOT NULL CONSTRAINT [DF_UserProfile_createdBy]  DEFAULT (suser_name()),
	[createdOn] [datetime2](7) NOT NULL CONSTRAINT [DF_UserProfile_createdOn]  DEFAULT (getdate()),
	[modifiedBy] [varchar](255) NULL,
	[modifiedOn] [datetime2](7) NULL,
 CONSTRAINT [PK_UserProfile] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VisitLog](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[date] [datetime2](7) NOT NULL,
	[website] [nvarchar](1024) NOT NULL,
	[visits] [bigint] NOT NULL,
	[createdBy] [varchar](255) NOT NULL,
	[createdOn] [datetime2](7) NOT NULL,
	[modifiedBy] [varchar](255) NULL,
	[modifiedOn] [datetime2](7) NULL,
 CONSTRAINT [PK_VisitLog] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VisitLogExclusion](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[host] [nvarchar](1024) NOT NULL,
	[excludedSince] [datetime2](7) NULL,
	[excludedTill] [datetime2](7) NULL,
	[createdBy] [varchar](255) NOT NULL,
	[createdOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_VisitLogExclusion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[UserProfile] ([userId], [password], [roles], [isActive], [createdBy], [createdOn], [modifiedBy], [modifiedOn]) VALUES (N'dickens.code@gmail.com', N'Abcd1234!', N'Admin', 1, N'SYSTEM', CAST(N'2017-07-05 23:33:49.8400000' AS DateTime2), NULL, NULL)
INSERT [dbo].[UserProfile] ([userId], [password], [roles], [isActive], [createdBy], [createdOn], [modifiedBy], [modifiedOn]) VALUES (N'elliott.polk@manulife.demo', N'Abcd1234!', N'User', 1, N'SYSTEM', CAST(N'2017-07-05 23:36:31.1570000' AS DateTime2), NULL, NULL)
INSERT [dbo].[UserProfile] ([userId], [password], [roles], [isActive], [createdBy], [createdOn], [modifiedBy], [modifiedOn]) VALUES (N'test.user@manulife.demo', N'Abcd1234!', N'User', 1, N'SYSTEM', CAST(N'2017-07-05 23:37:27.8270000' AS DateTime2), NULL, NULL)
CREATE NONCLUSTERED INDEX [NCI_VisitLog_date] ON [dbo].[VisitLog]
(
	[date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VisitLog] ADD  CONSTRAINT [DF_VisitLog_createdBy]  DEFAULT (suser_name()) FOR [createdBy]
GO
ALTER TABLE [dbo].[VisitLog] ADD  CONSTRAINT [DF_VisitLog_createdOn]  DEFAULT (getdate()) FOR [createdOn]
GO
ALTER TABLE [dbo].[VisitLogExclusion] ADD  CONSTRAINT [DF_VisitLogExclusion_CreatedBy]  DEFAULT (suser_name()) FOR [createdBy]
GO
ALTER TABLE [dbo].[VisitLogExclusion] ADD  CONSTRAINT [DF_VisitLogExclusion_CreatedOn]  DEFAULT (getdate()) FOR [createdOn]
GO
CREATE TABLE [dbo].[Log] (
    [Id] [int] IDENTITY (1, 1) NOT NULL,
    [Date] [datetime] NOT NULL,
    [Thread] [varchar] (255) NOT NULL,
    [Level] [varchar] (50) NOT NULL,
    [Logger] [varchar] (255) NOT NULL,
    [Message] [varchar] (4000) NOT NULL,
    [Exception] [varchar] (2000) NULL
)
GO
USE [master]
GO
