<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="TopFiveWebsitesEntities" connectionString="metadata=res://*/TopFiveWebsitesEntities.csdl|res://*/TopFiveWebsitesEntities.ssdl|res://*/TopFiveWebsitesEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:topfivewebsitesdbserver.database.windows.net,1433;Initial Catalog=TopFiveWebsites;Persist Security Info=False;User ID=dickens;Password=Abcd1234!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;&quot;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="DataFolderPath" value="D:\home\data\csv\"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>