@model HandleErrorInfo
@{
    ViewBag.Title = "Error details page";
}

<h2>An error occurred while processing your request.</h2>
<h2>Please contact administrator with the following details:</h2>
<blockquote>
    <p>@Model.Exception.Message</p>
    <footer>@Model.Exception.StackTrace</footer>
</blockquote>
