<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d82c7823-e883-4114-8f52-843f85dc482b/resourcegroups/TopFiveWebsites/providers/Microsoft.Web/sites/TopFiveWebsites</ResourceId>
    <ResourceGroup>TopFiveWebsites</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://topfivewebsites.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>topfivewebsites.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TopFiveWebsites</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TopFiveWebsites</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TopFiveWebsitesEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:topfivewebsitesdbserver.database.windows.net,1433;Initial Catalog=TopFiveWebsites;User ID=dickens@topfivewebsitesdbserver;Password=Abcd1234!" Name="Data Source=tcp:topfivewebsitesdbserver.database.windows.net,1433;Initial Catalog=TopFiveWebsites;User Id=dickens@topfivewebsitesdbserver;Password=Abcd1234!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DEV01;Initial Catalog=TopFiveWebsites;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TopFiveWebsitesEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/TopFiveWebsitesEntities.csdl|res://*/TopFiveWebsitesEntities.ssdl|res://*/TopFiveWebsitesEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEV01;initial catalog=TopFiveWebsites;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="TopFiveWebsitesEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/TopFiveWebsitesEntities.csdl|res://*/TopFiveWebsitesEntities.ssdl|res://*/TopFiveWebsitesEntities.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:topfivewebsitesdbserver.database.windows.net,1433;initial catalog=TopFiveWebsites;user id=dickens@topfivewebsitesdbserver;password=Abcd1234!;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>