@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Top Website Demo</h1>
    <p class="lead">Project source code can be found at <a href="https://github.com/dickens-code/top-five-websites" target="_blank" class="btn btn-success btn-sm">Here &raquo;</a></p>
</div>
